<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVynk.Dark"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Launcher -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.operator.StationOperatorSlotsMockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.StationOperatorLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.dashboard.EditProfileActivity" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.EVynk.Dark" />

        <activity
            android:name=".ui.reservations.OwnerReservationsActivity"
            android:exported="false"
            android:theme="@style/Theme.EVynk.Dark" />


        <activity android:name=".ui.reservations.BookSlotActivity" />

        <activity android:name=".ui.operator.StationOperatorHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.operator.StationOperatorEnterQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.operator.StationOperatorUserFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.operator.StationOperatorSlotsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.reservations.EditReservationActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.reservations.ReservationDetailsActivity"
            android:exported="false" />

        <activity android:name=".ui.reservations.BookingHistoryActivity" />

        <!-- Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>


        <!-- Station Map Activity -->
        <activity
            android:name=".ui.reservations.StationMapActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.stations.FindStationActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
